.nav__link{
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: larger;
    position: relative;
}
.nav__link:after{
    position: absolute;
    bottom: -5px;
    left: 0;
    content: '';
    height: 2px;
    width: 100%;
    background: rgb(69,169,104);
    transform: scaleX(0);
    transition: transform 0.3s;
}
.nav__link:hover{
    color: rgb(69,169,104);
}
.nav__link:hover:after{
    transform: scaleX(1);
}